body{
    h1{
        color: white;
        background-color: tomato;

    }
    p{
        &:first-child{
            background-color:lightgreen;
        }
        &:nth-child(2){
            background-color:red;
            color: white;
        }
    }
}